<!DOCTYPE html>
<html>

<head>

    <title>CS Route Scanner</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="header">

    <h1>CS Route Scanner</h1>

    <p>
        steam ↔ csmarket liquidity routes
    </p>

</div>

<div class="grid">

{% for skin in skins %}

<div class="card">

    <img src="{{ skin.image }}"
         class="skin-image">

    <div class="content">

        <h2>{{ skin.name }}</h2>

        <div class="prices">

            <div class="price-row">
                <span class="label">
                    Steam Lowest Sell
                </span>

                <span>
                    €{{ skin.steam_lowest }}
                </span>
            </div>

            <div class="price-row">
                <span class="label">
                    Steam Highest Buy
                </span>

                <span>
                    €{{ skin.highest_buy }}
                </span>
            </div>

            <div class="price-row">
                <span class="label">
                    Steam After Fee
                </span>

                <span>
                    €{{ skin.steam_after_fee }}
                </span>
            </div>

            <div class="arrow">
                ↓
            </div>

            <div class="price-row">
                <span class="label">
                    CSMarket Sell
                </span>

                <span>
                    €{{ skin.csmarket_sell }}
                </span>
            </div>

            <div class="price-row">
                <span class="label">
                    After All Fees
                </span>

                <span>
                    €{{ skin.cashout }}
                </span>
            </div>

        </div>

        <div class="
            profit

            {% if skin.profit > 0 %}
                green
            {% else %}
                red
            {% endif %}
        ">

            {% if skin.profit > 0 %}
                +€{{ skin.profit }}
            {% else %}
                -€{{ skin.profit|abs }}
            {% endif %}

        </div>

        <div class="bottom">

            <div class="roi">
                ROI {{ skin.roi }}%
            </div>

            <div class="volume">
                Vol {{ skin.volume }}
            </div>

        </div>

        <div class="bottom">

            <div class="roi">
                Spread {{ skin.spread }}%
            </div>

            <div class="volume">
                Liquidity {{ skin.liquidity }}/100
            </div>

        </div>

    </div>

</div>

{% endfor %}

</div>

</body>
</html>
